.Menu__container {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    width: 236px;
    flex-direction: column;
    border: 2px solid #5360CD;
    position: relative;
}



.Name__menu {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #2231AA;
    cursor: pointer;
}

.Home__menu {
    background-color: white;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #E8E8E8;
    cursor: pointer;
}

.Add__menu {
    background-color: white;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #E8E8E8;
    cursor: pointer;
}

.Emptiness {
    background-color: white;
    width: 236px;
    height: 200px;
}

.DL__menu {
    background-color: white;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #E8E8E8;
}

.DL__L {
    width: 50%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #E8E8E8;
    cursor: pointer;
}

.DL__D {
    display: flex;
    width: 50%;
    height: 85px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.LogOut__menu {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8E8E8;
    cursor: pointer;
}