.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 30px 30px 30px 30px;
}

.Body__name {
    padding: 30px 0 30px 0px;
    margin: auto;
    display: flex;
    height: 50px;
    width: 73%;
    align-items: center;
    font-weight: 700;
    font-size: 46px;
}

.BodyBlack__name {
    padding: 30px 0 30px 0px;
    margin: auto;
    display: flex;
    height: 50px;
    width: 73%;
    align-items: center;
    font-weight: 700;
    font-size: 46px;
    color: white;
}

.Content__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Body__black {
    background-color: #161515;
}

.Nav__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.Body__container {
    display: flex;
    width: 100%;
    height: 360px;
}

.Container__info {
    width: 80%;
    padding-right: 20px;
}

.Container__img {
    width: 35%;
    display: flex;
    align-items: start;
    justify-content: end;
}

.Container__img>img {
    min-width: 80px;
    width: 180px;
}

.Info__data {
    color: #8D8E97;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

.Info__title {
    overflow: hidden;
    height: 140px;
    font-size: 32px;
    width: 100%;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 44px;
}

.Info__title>a {
    color: #000 !important;
    text-decoration: none
}

.Info__black {
    overflow: hidden;
    height: 140px;
    font-size: 32px;
    width: 100%;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 44px;
}

.Info__black>a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none
}

.Info__text {
    overflow: hidden;
    height: 170px;
    color: #8D8E97;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.Body__icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.like__container {
    display: flex;
    width: 60px;
    height: 40px;
    align-items: center;
    justify-content: end;
    background-image: url(../../photo/iconBody/like.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.like__container:hover {
    background-color: #5360CD;
    background-image: url(../../photo/iconBody/LightLike.svg);
    cursor: pointer;
}

.dislike__container {
    display: flex;
    width: 60px;
    height: 40px;
    align-items: center;
    justify-content: end;
    background-image: url(../../photo/iconBody/dislike.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.dislike__container:hover {
    background-color: #FD3419;
    background-image: url(../../photo/iconBody/BlackDislike.svg);
    cursor: pointer;
}

.Icon__like {
    width: 131px;
    display: flex;
    justify-content: space-around;
}

.Icon__black {
    color: white;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.like__container>span {
    font-weight: 700;
    padding-right: 5px;
}

.dislike__container>span {
    font-weight: 700;
    padding-right: 5px;
}

.Icon__menu {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Body>hr {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}